.button-default {
  cursor: pointer;
  min-width: max-content;
  border-radius: 1rem;
}

.button-primary {
  padding: 0.25rem 1.5rem;
  font-weight: 600;
  font-size: var(--title-buttons);
}
.button-secondary {
  padding: 0.25rem 1rem;
  font-weight: 600;
  font-size: var(--title-buttons-card);
}

.button-border-brand {
  background: var(--color-white);
  border: 1px solid var(--color-brand-1);
  color: var(--color-brand-1);
}
.button-border-red {
  background: var(--color-white);
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.button-brand {
  background: var(--color-brand-1);
  border: 1px solid var(--color-brand-1);
  color: var(--color-white);
}

.button-green {
  background: var(--color-green-1);
  border: 1px solid var(--color-green-1);
  color: var(--color-white);
}
