header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container-header {
    width: 324px;
    margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 270px;
}

.title-menu {
    display: flex;
    justify-content: space-between;
}

.title-menu h1 {
    color: var(--color-brand-1);
    font-size: 28px;
}

footer {
    background-color: #f1eef7;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > p {
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-brand-1);
  }

.button-menu{
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}

.button-profile{
    width: 90px;
    height: 27px;
    border: none;
    background: #ffffff;
    border: 1px solid var(--color-brand-1);
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    border-radius: 16px;
    color: var(--color-brand-1);
    font-weight: 600;
    padding: 0.25rem 1.5rem;
    font-weight: 600;
    font-size: var(--title-buttons);
    min-width: max-content;
    height: 32px;
    cursor: pointer;
}

.button-profile:hover{
    background-color: #F1EEF7;
}

.button-logout{
    width: 90px;
    height: 32px;
    border-radius: 16px;
    border: none;
    background: var(--color-brand-1);
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    font-weight: 600;
    font-size: var(--title-buttons);
    min-width: max-content;
    cursor: pointer;
}

.button-logout:hover{
    background-color: rgb(78, 32, 150,0.8);
}

.div-btn-hidden {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.5rem;
}

.hidden {
    display: none;
}


ul {
    list-style: none;
}

.list-animals{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 50px;
}

.card-animals img {
    height: 180px;
}

.card-animals {
    width: 270px;
    height: 300px;
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    border-radius: 4px;
}

.card-animals h2 {
    font-size: var(--title-1-card);
    color: var(--color-brand-1);
}

.card-animals span {
    font-size: var(--text-3);
    color: var(--color-grey-2);
}

.information-animals {
    padding-left: 1rem;
}

.div-btn-adopt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.btn-adopt {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--title-buttons-card);;
    background-color: var(--color-green-1);
    color: var(--color-white);
    border: 1px solid var(--color-green-1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 7.563rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-adopt:hover{
    background-color: rgb(51, 204, 102,0.8);
}

.img-card {
    width: 100%;
    height: 10rem;
}

footer {
    height: 3rem;
    background-color: #F1EEF7;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: var(--color-brand-1);
}

@media (min-width: 768px) {
    .button-menu {
        display: none;
    }

    .container {
        width: 600px;
    }

    .container-header {
        width: 600px;
    }

    .list-animals{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 3rem;
        margin-top: 50px;
    }

    .div-btn-hidden {
        display: flex;
        justify-content: center;
        margin-top: -0.0rem;
        gap: 1rem;
    }

    .div-menu-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      
    }
}

@media(min-width: 1080px){
    .button-menu {
        display: none;
    }

    .container {
        width: 910px;
    }

    .container-header {
        width: 1000px;
    }

    .div-menu-main {
        display: flex;      
      
    }

   

    .list-animals {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }

    .card-animals {
        width: 260px;
        height: 320px;
    }

    .card-animals img {
        height: 200px;
    }

    .information-animals h2 {
        margin-top: 4px;
    }

    .btn-adopt {
        margin-top: -10px;
    }

   
}



@keyframes smoothShow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }