.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-dropdown {
  cursor: pointer;
  background: none;
  border: none;
}

.desk-buttons {
  display: none;
}

.box-brand {
  width: 100%;
  background-color: var(--color-brand-1);
  height: 223px;
}

.container-img {
  margin-top: -190px;
  max-width: 100%;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 5px solid var(--color-white);
  object-fit: cover;
}
.user-informations {
  width: 30rem;
  max-width: 100%;
  padding: 1.5rem;
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  border-radius: 0.25rem;
  margin-bottom: 96px;
}
.cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 54px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  border-radius: 4px;
}
.card img {
  object-fit: cover;
  width: 100%;
  border-radius: 4px 0px 0px 4px;
  max-height: 17.5rem;
}
.card > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2.625rem 1.938rem;
}
.card > div button {
  margin-top: 0.5rem;
}
footer {
  margin-top: 96px;
  background-color: #f1eef7;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > p {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--color-brand-1);
}

@media (min-width: 768px) {
  .desk-buttons {
    display: flex;
    gap: 24px;
  }
  .button-dropdown {
    display: none;
  }
  .card {
    flex-direction: row;
  }
  .card img {
    width: 40%;
  }
}
