.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.regular {
  font-weight: 400;
}

.size-title-1-card {
  font-size: var(--title-1-card);
}
.size-title-buttons {
  font-size: var(--title-buttons);
}
.size-title-buttons-card {
  font-size: var(--title-buttons-card);
}

.text-center {
  text-align: center;
}
